<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myYabi.yabi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yabi">
        <activity
            android:name="com.myYabi.yabi.PostChat"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.Settings"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.ViewOffers"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.AddPost"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.Search"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.CompletedOffers"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.YourPosts"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.Messaging"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.Account"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.LogIn"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.myYabi.yabi.SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>